@model RepairShop.Web.ViewModels.EmployeeAddPartViewModel

@using (Html.BeginForm()) 
{
    @Html.HiddenFor(model => model.JobId)
    @Html.HiddenFor(model => model.EmployeeId)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
    <tr>
        <td>
            @Html.DropDownListFor(model => model.PartId, new SelectList(Model.AllParts, "PartId", "Name", "Select a part"))
            @Html.ValidationMessageFor(model => model.PartId, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.TextBoxFor(model => model.Amount, new { type = "number", @class = "form-control", min = "1" })
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
        </td>
        <td>
            <input type="submit" value="Add part" name="save" class="btn btn-default" formaction=@Url.Action("AddPartToJob") formmethod="post" />
        </td>
    </tr>
}
