@model RepairShop.Web.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Index";
}


<table class="table-condensed" width="100%">
    <tr width="25%">
        @foreach (var item in Model.RepairStatus)
        {
            <td>
                @item.Key: @item.Value
            </td>
        }
    </tr>
</table>
<h2>Index</h2>
<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table ">
    
    <tr>
        <th>
            Id
        </th>
        <th>
            Start date
        </th>
        <th>
            End Date
        </th>
        <th>
            Status
        </th>
        <th>
            Customer Id
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.RepairJobs)
    {
<tr class="@(item.IsLate ? "late-colors" : "")">
    <td>
        @Html.Label(item.Id.ToString())
    </td>
    <td>
        @item.StartDate.ToString("dd-MM-yyyy")
    </td>
    <td>
        @item.EndDate.ToString("dd-MM-yyyy")
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Status)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.CustomerId)
    </td>
    <td>
        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "late-link" })  |
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "late-link" }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "late-link" }) |
        @Html.ActionLink("getPrice", "GetPrice", new { id = item.Id })
    </td>
</tr>
    }

</table>
